/* 消除网页的边距 */
  *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    }
    /*设置导航栏上的内容左浮动*/
    .btli{
    float: left;
    float: inline-start;
    width: 200px;
    line-height: 70px;
    text-align: center;
    }
    /*鼠标悬停导航栏时的背景颜色*/
    .Alist a:hover{
    background: darksalmon;
    }
    /*下拉菜单*/
    .droplist{
    position: absolute;
    display: none;
    border-radius: 6px;
    overflow: hidden;
    }
    .btli:hover .droplist{
    display: block;
    }
    /*第一部分*/
   .box{
    z-index: 1; /*图片重叠时显示在下方*/
    width: 2000px;
    height: 800px;
    left: 0px;
    top: 500px;}
    /*logo部分*/
    .logo{
        z-index: 2;/*图片重叠时显示在上方*/
        left: 700px;
        top: 200px;
        position: absolute;
       overflow:hidden;
       transition: transform 0.5s;
    }
    /*鼠标悬停时的动画*/
    .logo:hover{
        transform: scale(1.2);
    }
    /*第二部分*/
    .box-two{
        margin-top: 0px;
        background-color: aliceblue;
        width: 2000px;
        height: 5000px;
       
    }
    .box-two h2{
        font-size: 400%;
        margin-left: 700px;
    }
    /*设计前三个边框*/
    .boder{
        width: 1500px;
        height: 500px;
        margin-top: 100px;
        margin-left: 100px;
        border-width: 2px;
        border-style: solid;  
    }
    /*设计第四个边框*/
    .barder{
        width: 1500px;
        height: 1000px;
        margin-top: 100px;
        margin-left: 100px;
        border-width: 2px;
        border-style: solid;  
    }
    /*边框中的文字*/
    .barder a{
        color: gainsboro;
        font-size: 400%;
       margin-left: 500px;
    }
    